@import "./mixins";
@import "./variables";

.App {
  text-align: center;
  padding-top: 5rem;
}

.converter {
  &__title {
    margin: 0;
    padding-top: 1rem;

    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
  }
  &__form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    @include sm {
      display: flex;
      flex-flow: nowrap;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }
  }

  &__input,
  &__results {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
}

.footer {
  background-color: rgb(255, 249, 66);
  padding: 3%;
  font-size: 0.9rem;
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
